	<div class="grid reveal">

		<div class="col-12 slides">

			<!-- [QUESTION.1] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/01/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What concept do we believe in here at Phola?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/01/answer-01.ogg">
									<input id="question_1r5" name="question_1" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_1r5">Zero Harm.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/01/answer-02.ogg">
									<input id="question_1r6" name="question_1" class="ac-circle" type="radio"  value="2" ui-fancy-input>
									<label for="question_1r6">Blame the person.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/01/answer-03.ogg">
									<input id="question_1r7" name="question_1" class="ac-circle" type="radio"  value="3" ui-fancy-input>
									<label for="question_1r7">None of these.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.1] -->

			<!-- [QUESTION.2] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/02/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What is our Motto?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/02/answer-01.ogg">
									<input id="question_2r5" name="question_2" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_2r5">Keep the faith.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/02/answer-02.ogg">
									<input id="question_2r6" name="question_2" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_2r6">Stay alert so you don't get hurt.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/02/answer-03.ogg">
									<input id="question_2r7" name="question_2" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_2r7">Wake up and smell the roses.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.2] -->

			<!-- [QUESTION.3] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/03/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Who must receive HSE training?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/03/answer-01.ogg">
									<input id="question_3r5" name="question_3" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_3r5">Only permanent employees.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/03/answer-02.ogg">
									<input id="question_3r6" name="question_3" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_3r6">Only temporary employees.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/03/answer-03.ogg">
									<input id="question_3r7" name="question_3" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_3r7">Only contractors.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/03/answer-04.ogg">
									<input id="question_3r8" name="question_3" class="ac-circle" type="radio" value="4" data-correct="true" ui-fancy-input>
									<label for="question_3r8">All of these.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.3] -->

			<!-- [QUESTION.4] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/04/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Do you need an access card relevant to the area of work and hazard exposure?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/yes.ogg">
									<input id="question_4r5" name="question_4" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_4r5">Yes.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/no.ogg">
									<input id="question_4r6" name="question_4" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_4r6">No.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.4] -->

			<!-- [QUESTION.5] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/05/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">May you bring alcohol or habit forming<br />or mind altering drugs onto Phola premises?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/yes.ogg">
									<input id="question_5r5" name="question_5" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_5r5">Yes.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/no.ogg">
									<input id="question_5r6" name="question_5" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_5r6">No.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.5] -->

			<!-- [QUESTION.6] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/06/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What has to be done before you start working at Phola?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/06/answer-01.ogg">
									<input id="question_6r5" name="question_6" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_6r5">Recongnition of prior learning.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/06/answer-02.ogg">
									<input id="question_6r6" name="question_6" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_6r6">Water safety training.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/06/answer-03.ogg">
									<input id="question_6r7" name="question_6" class="ac-circle" type="radio" value="3" data-correct="true" ui-fancy-input>
									<label for="question_6r7">Induction.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.6] -->

			<!-- [QUESTION.7] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/07/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these is a Life Saving Rule?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/07/answer-01.ogg">
									<input id="question_7r5" name="question_7" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_7r5">Do the same as the person before you.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/07/answer-02.ogg">
									<input id="question_7r6" name="question_7" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_7r6">You know it is wrong but you should still do it.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/07/answer-03.ogg">
									<input id="question_7r7" name="question_7" class="ac-circle" type="radio" value="3" data-correct="true" ui-fancy-input>
									<label for="question_7r7">Always wear your PPE and obtain a permit where required.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.7] -->

			<!-- [QUESTION.8] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/08/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">One of these is a Life Saving Rule for mobile equipment</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/08/answer-01.ogg">
									<input id="question_8r5" name="question_8" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_8r5">Pedestrians must always stand clear of mobile equipment.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/08/answer-02.ogg">
									<input id="question_8r6" name="question_8" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_8r6">You are allowed to smoke in your office.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/08/answer-03.ogg">
									<input id="question_8r7" name="question_8" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_8r7">Wear hearing protection in quiet areas.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.8] -->

			<!-- [QUESTION.9] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/09/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What must you know before entering a confined space?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/09/answer-01.ogg">
									<input id="question_9r5" name="question_9" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_9r5">Where to leave your contraband.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/09/answer-02.ogg">
									<input id="question_9r6" name="question_9" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_9r6">The Phola Coal Processing Plant Confined Space Procedure.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/09/answer-03.ogg">
									<input id="question_9r7" name="question_9" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_9r7">Where to park your TMM.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.9] -->

			<!-- [QUESTION.10] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/10/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What precaution must anyone take with Lifting Machinery?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/10/answer-01.ogg">
									<input id="question_10r5" name="question_10" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_10r5">Take regular breaks for lunch.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/10/answer-02.ogg">
									<input id="question_10r6" name="question_10" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_10r6">Never allow anyone to be in the drop zone of a load.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/10/answer-03.ogg">
									<input id="question_10r7" name="question_10" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_10r7">Crane operators wear pink jackets.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.10] -->

			<!-- [QUESTION.11] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/11/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Phola has procedures which will help prevent a fatal incident if applied correctly.  What does the abbreviation FRCS stand for?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/11/answer-01.ogg">
									<input id="question_11r5" name="question_11" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_11r5">Forget Reading Copy Standards.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/11/answer-02.ogg">
									<input id="question_11r6" name="question_11" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_11r6">Feathers Really Cause Sinusitis.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/11/answer-03.ogg">
									<input id="question_11r7" name="question_11" class="ac-circle" type="radio" value="3" data-correct="true" ui-fancy-input>
									<label for="question_11r7">Fatal Risk Control Standards.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.11] -->

			<!-- [QUESTION.12] CHECK ANSWER!!! -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/12/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these is a Fatal Risk Standard?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/12/answer-02.ogg">
									<input id="question_12r5" name="question_12" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_12r5">Road going vehicles.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/12/answer-03.ogg">
									<input id="question_12r6" name="question_12" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_12r6">Equipment Safe-guarding.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/12/answer-04.ogg">
									<input id="question_12r7" name="question_12" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_12r7">Isolation and Permit to work.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/12/answer-05.ogg">
									<input id="question_12r8" name="question_12" class="ac-circle" type="radio" value="4" data-correct="true" ui-fancy-input>
									<label for="question_12r8">All of these.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.12] -->

			<!-- [QUESTION.13] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/13/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">List the 4 Steps to Safety</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/13/answer-01.ogg">
									<input id="question_13r5" name="question_13" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_13r5">SLAM</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/13/answer-02.ogg">
									<input id="question_13r6" name="question_13" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_13r6">Change Management.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/13/answer-03.ogg">
									<input id="question_13r7" name="question_13" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_13r7">JSA</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.13] -->

			<!-- [QUESTION.14] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/14/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">If you are to Manage the hazard or risk, what question must you ask yourself?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/14/answer-01.ogg">
									<input id="question_14r5" name="question_14" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_14r5">Is there something that I have forgotten?</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/14/answer-02.ogg">
									<input id="question_14r6" name="question_14" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_14r6">What am I going to do about it now to prevent injury to myself or another employee?</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/14/answer-03.ogg">
									<input id="question_14r7" name="question_14" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_14r7">Where did I put my clip-art?</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.14] -->

			<!-- [QUESTION.15] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/15/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What is a Zero Energy Event?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/15/answer-01.ogg">
									<input id="question_15r5" name="question_15" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_15r5">A party to which nobody came to.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/15/answer-02.ogg">
									<input id="question_15r6" name="question_15" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_15r6">A Flat tyre.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.15] -->

			<!-- [QUESTION.16 SPACING ISSUE] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/16/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Why is it necessary to report potential hazards?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/16/answer-01.ogg">
									<input id="question_16r5" name="question_16" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_16r5">By identifying and reporting more hazards in our workplace to our supervisors, you will be showing leadership and reduce the potential for incidents which could have an advers impact upon our operations.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/16/answer-02.ogg">
									<input id="question_16r6" name="question_16" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_16r6">Potential hazards can be ignored as nothing happened yet.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/16/answer-03.ogg">
									<input id="question_16r7" name="question_16" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_16r7">Reporting hazards is a nuisance and we can afford to ignore these as they do not impact upon us or the business.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.16] -->

			<!-- [QUESTION.17] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/17/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What must you look for in your area of work?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/17/answer-01.ogg">
									<input id="question_17r5" name="question_17" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_17r5">The tea and coffee machine.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/17/answer-02.ogg">
									<input id="question_17r6" name="question_17" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_17r6">The nearest emergency evacuation point.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/17/answer-03.ogg">
									<input id="question_17r7" name="question_17" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_17r7">Where to find the bosses' office.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>

			<!-- [/QUESTION.17] -->

			<!-- [QUESTION.18] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/18/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Dust and noise can affect certain parts of our body to result in an occupational disease or loss of hearing.<br />Which parts of your body will be affected?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/18/answer-01.ogg">
									<input id="question_18r5" name="question_18" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_18r5">Your skin and nails.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/18/answer-02.ogg">
									<input id="question_18r6" name="question_18" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_18r6">Your teeth and hair.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/18/answer-03.ogg">
									<input id="question_18r7" name="question_18" class="ac-circle" type="radio" value="3" data-correct="true" ui-fancy-input>
									<label for="question_18r7">Your lungs and ears.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.18] -->

			<!-- [QUESTION.19] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/19/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">If a load is safe to lift, it is usually less than a certain amount of your body weight?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/19/answer-01.ogg">
									<input id="question_19r5" name="question_19" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_19r5">One Third.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/19/answer-02.ogg">
									<input id="question_19r6" name="question_19" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_19r6">Half.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/19/answer-03.ogg">
									<input id="question_19r7" name="question_19" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_19r7">One hundred percent.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.19] -->

			<!-- [QUESTION.20] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/20/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">How do you dispose of waste?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/20/answer-01.ogg">
									<input id="question_20r5" name="question_20" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_20r5">Into the nearest bin.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/20/answer-02.ogg">
									<input id="question_20r6" name="question_20" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_20r6">Onto the ground.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/20/answer-03.ogg">
									<input id="question_20r7" name="question_20" class="ac-circle" type="radio" value="3" data-correct="true" ui-fancy-input>
									<label for="question_20r7">Into the correct container or bin depending on what type of waste it is.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.20] -->

			<!-- [QUESTION.21] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/21/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these are scarce resources and have to be conserved or saved?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/21/answer-01.ogg">
									<input id="question_21r5" name="question_21" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_21r5">Magnetite.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/21/answer-02.ogg">
									<input id="question_21r6" name="question_21" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_21r6">Electricity and / or water.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/21/answer-03.ogg">
									<input id="question_21r7" name="question_21" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_21r7">Sunshine.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.21] -->

			<!-- [QUESTION.22] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/22/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Do you have to be medically examined and found fit for work<br />in order to work at Phola Coal Processing Plant?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/yes.ogg">
									<input id="question_22r5" name="question_22" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_22r5">Yes.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/no.ogg">
									<input id="question_22r6" name="question_22" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_22r6">No.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.22] -->

			<!-- [QUESTION.23] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/23/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Getting enough sleep and eating properly are part of ... ?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/23/answer-01.ogg">
									<input id="question_23r5" name="question_23" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_23r5">Preparing for confined space entry.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/23/answer-02.ogg">
									<input id="question_23r6" name="question_23" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_23r6">Fatigue Management.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/23/answer-03.ogg">
									<input id="question_23r7" name="question_23" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_23r7">Going on holiday.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.23] -->

			<!-- [QUESTION.24] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-employees/24/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">

						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What process helps look after the environment<br />by keeping the workplace clean and clear?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/24/answer-01.ogg">
									<input id="question_24r5" name="question_24" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_24r5">SLAM</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/24/answer-02.ogg">
									<input id="question_24r6" name="question_24" class="ac-circle" type="radio" value="2" data-correct="true" ui-fancy-input>
									<label for="question_24r6">The 5S</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-employees/24/answer-03.ogg">
									<input id="question_24r7" name="question_24" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_24r7">Pre-use inspections.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					
					</div>

				</div>
			</section>
			<!-- [/QUESTION.24] -->

			<!-- [RESULTS] -->
			<section data-state="test-complete" data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds-complete.jpg" data-voice="./voice-over/complete-success.ogg">
				<div class="grid caption-text LightFontFace">

					<div class="col-12">
						<h3 class="BoldFontFace">Congratulations.</h3>
						<p>You have successfully completed our induction programme.  We wish you a safe and pleasant day at our operation.<p>
					</div>

				</div>
			</section>
			<!-- [/RESULTS] -->

		</div>

	</div>