	<div class="grid reveal">

		<div class="col-12 slides">

			<!-- [QUESTION.1] -->
			<section data-transition="zoom-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/01/question.ogg">
				<div class="grid LightFontFace">
					
					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Why do visitors need to do this induction?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/01/answer-01.ogg">
									<input id="question_1r5" name="question_1" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_1r5">Because it shows a desire to please.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/01/answer-02.ogg">
									<input id="question_1r6" name="question_1" class="ac-circle" type="radio"  value="2" data-correct="true" ui-fancy-input>
									<label for="question_1r6">Because your life, or that of a colleague could depend on this information.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/01/answer-03.ogg">
									<input id="question_1r7" name="question_1" class="ac-circle" type="radio"  value="3" ui-fancy-input>
									<label for="question_1r7">Because it is the only way to get onto the site.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>
					
				</div>
			</section>
			<!-- [/QUESTION.1] -->

			<!-- [QUESTION.2] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/02/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">If you need to do further work<br />other than that approved for this permit what do you need to do?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/02/answer-01.ogg">
									<input id="question_2r5" name="question_2" class="ac-circle" type="radio" value="1"  ui-fancy-input>
									<label for="question_2r5">Nothing else as this allows you to start work straight-away.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/02/answer-02.ogg">
									<input id="question_2r6" name="question_2" class="ac-circle" type="radio"  value="2" ui-fancy-input>
									<label for="question_2r6">Speak to the foreman and he will authorise anything new.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/02/answer-03.ogg">
									<input id="question_2r7" name="question_2" class="ac-circle" type="radio" data-correct="true" value="3" ui-fancy-input>
									<label for="question_2r7">Undergo the employee's induction.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.2] -->

			<!-- [QUESTION.3] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/03/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these are Plant Safety hazards?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/03/answer-01.ogg">
									<input id="question_3r5" name="question_3" class="ac-circle" type="radio" value="1"  ui-fancy-input>
									<label for="question_3r5">Surface Mobile Equipment.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/03/answer-02.ogg">
									<input id="question_3r6" name="question_3" class="ac-circle" type="radio"  value="2" ui-fancy-input>
									<label for="question_3r6">Moving Machinery.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/03/answer-03.ogg">
									<input id="question_3r7" name="question_3" class="ac-circle" type="radio"  value="3" data-correct="true" ui-fancy-input>
									<label for="question_3r7">All of these.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.3] -->

			<!-- [QUESTION.4] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/04/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these are health hazards at Phola?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/04/answer-01.ogg">
									<input id="question_4r5" name="question_4" class="ac-circle" type="radio" value="1"  ui-fancy-input>
									<label for="question_4r5">Dust.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/04/answer-02.ogg">
									<input id="question_4r6" name="question_4" class="ac-circle" type="radio"  value="2" ui-fancy-input>
									<label for="question_4r6">Noise.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/test-visitors/04/answer-03.ogg">
									<input id="question_4r7" name="question_4" class="ac-circle" type="radio"  value="3" data-correct="true" ui-fancy-input>
									<label for="question_4r7">Both of these.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.4] -->

			<!-- [QUESTION.5] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/05/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Is alcohol allowed on site<br />and are you allowed to access the site while under the influence?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment slide-up" data-voice="./voice-over/yes.ogg">
									<input id="question_5r5" name="question_5" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_5r5">Yes.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/no.ogg">
									<input id="question_5r6" name="question_5" class="ac-circle" type="radio" data-correct="true" value="2" ui-fancy-input>
									<label for="question_5r6">No.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.5] -->

			<!-- [QUESTION.6] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/06/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Is this statement of our Phola Life saving rules correct?</h3>
							<p class="fragment fade-in" data-voice="./voice-over/test-visitors/06/question-01.ogg">"Never tamper with safety devices<br />and never violate our lock-out or isolation procedures".</p>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment slide-up" data-voice="./voice-over/yes.ogg">
									<input id="question_6r5" name="question_6" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_6r5">Yes.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/no.ogg">
									<input id="question_6r6" name="question_6" class="ac-circle" type="radio"  value="2" ui-fancy-input>
									<label for="question_6r6">No.</label>
								</li>
								<li class="fragment slide-up" data-voice="./voice-over/neither.ogg">
									<input id="question_6r7" name="question_6" class="ac-circle" type="radio"  value="3" ui-fancy-input>
									<label for="question_6r7">Neither.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.6] -->

			<!-- [QUESTION.7] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/07/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">What is the speed limit on the haul roads of the Plant?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/07/answer-01.ogg">
									<input id="question_7r5" name="question_7" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_7r5">60 km/h.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/07/answer-02.ogg">
									<input id="question_7r6" name="question_7" class="ac-circle" type="radio" data-correct="true" value="2" ui-fancy-input>
									<label for="question_7r6">40 km/h.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/07/answer-03.ogg">
									<input id="question_7r7" name="question_7" class="ac-circle" type="radio"  value="3" ui-fancy-input>
									<label for="question_7r7">20 km/h.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.7] -->

			<!-- [QUESTION.8] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/08/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">To whom must you report a Near Miss or Event?</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/08/answer-01.ogg">
									<input id="question_8r5" name="question_8" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_8r5">Your Phola Coal escort.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/08/answer-02.ogg">
									<input id="question_8r6" name="question_8" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_8r6">The HSE personnel.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/08/answer-03.ogg">
									<input id="question_8r7" name="question_8" class="ac-circle" type="radio" data-correct="true" value="3" ui-fancy-input>
									<label for="question_8r7">Any of these persons.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.8] -->

			<!-- [QUESTION.9] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/09/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">List 3 items of PPE used at Phola</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/09/answer-01.ogg">
									<input id="question_9r5" name="question_9" class="ac-circle" type="radio" value="1" ui-fancy-input>
									<label for="question_9r5">Safety Belt, Traffic Rules and Road Signs.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/09/answer-02.ogg">
									<input id="question_9r6" name="question_9" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_9r6">Headlights, Authorised Vehicles and Approved Equipment.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/09/answer-03.ogg">
									<input id="question_9r7" name="question_9" class="ac-circle" type="radio" data-correct="true" value="3" ui-fancy-input>
									<label for="question_9r7">Hard Hat, Safety Spectacles, Metatarsal Guards</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.9] -->

			<!-- [QUESTION.10] -->
			<section data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds.jpg" data-voice="./voice-over/test-visitors/10/question.ogg">
				<div class="grid LightFontFace">

					<div class="col-12">
						<form class="ac-custom ac-radio ac-circle" autocomplete="off">
							<h3 class="BoldFontFace">Which of these is correct behaviour during an emergency evacuation.</h3>
							<hr />
							<ul class="unstyled tl">
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/10/answer-01.ogg">
									<input id="question_10r5" name="question_10" class="ac-circle" type="radio" value="1" data-correct="true" ui-fancy-input>
									<label for="question_10r5">Stay with your host or escort and proceed to the nearest emergency gathering point.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/10/answer-02.ogg">
									<input id="question_10r6" name="question_10" class="ac-circle" type="radio" value="2" ui-fancy-input>
									<label for="question_10r6">Stay where you are and continue with the meeting or visit.</label>
								</li>
								<li class="fragment fade-in" data-voice="./voice-over/test-visitors/10/answer-03.ogg">
									<input id="question_10r7" name="question_10" class="ac-circle" type="radio" value="3" ui-fancy-input>
									<label for="question_10r7">Run to your vehicle and leave the site as quickly as possible.</label>
								</li>
							</ul>
						</form>
						<br />
						<br />
						<button type="button" class="menu-trigger LightFontFace fragment fade-in" data-ng-click="nextQuestion()">Next</button>
					</div>

				</div>
			</section>
			<!-- [/QUESTION.10] -->

			<!-- [RESULTS] -->
			<section data-state="test-complete" data-transition="fade-in slide-out" data-background="./public/images/slide_backgrounds/backgrounds-complete.jpg" data-voice="./voice-over/complete-success.ogg">
				<div class="grid LightFontFace caption-text">

					<div class="col-12">
						<h3 class="BoldFontFace">Congratulations.</h3>
						<p>You have successfully completed our induction programme.  We wish you a safe and pleasant day at our operation.<p>
					</div>

				</div>
			</section>
			<!-- [/RESULTS] -->

		</div>

	</div>