								
								<form id="formLogin" class="prForm" enctype="multipart/form-data" method="post" novalidate="novalidate">
									
									<div id="formInputs" class="inner-me tc" style="width:60%;margin:0 auto;">

										<div class="grid">
											
											<div class="phola-main-logo"></div>

											<div id="induction-type" class="col-12">

												<p class="LightFontFace">
													Welcome to the Phola Coal Processing Plant,<br />or Phola as it is more commonly known.
												</p>
												<div id="induction-selection" class="loading-intro">
													<p class="LightFontFace">Please select an induction programme.</p>
													<button
														
														type="button"
														data-text="I'm an Employee"
														data-ng-click="startInduction('employee')"
														class="btn btn-large LightFontFace">
															I'm an Employee
													</button>
													<button
														type="button"
														
														data-text="I'm a Visitor"
														data-ng-click="startInduction('visitor')"
														class="btn btn-large LightFontFace">
															I'm a Visitor
													</button>
												</div>

											</div>
											
										</div>

									</div>
								</form>